
@{
    ViewBag.Title = "Компания Грузоперевозки";
}

<h2>Грузоперевозки</h2>

@Html.ActionLink("Заказать грузоперевозку","createOrder")
@Html.ActionLink("Посмотреть статус заказа","getInfoAboutOrder")


